log4j.rootLogger=INFO, main

log4j.appender.main=org.apache.log4j.RollingFileAppender
log4j.appender.main.file=/log/main.log
log4j.appender.main.maxBackupIndex=5
log4j.appender.main.maxFileSize=50MB
log4j.appender.main.layout=org.apache.log4j.EnhancedPatternLayout
log4j.appender.main.layout.ConversionPattern=[[[MSG]]] [%d{ISO8601}] [%p] [logger:%c] [thread:%t] [mdc:%X] %m %throwable%n

log4j.logger.kafka=INFO, main
log4j.additivity.kafka=false

log4j.logger.kafka.network.RequestChannel$=ERROR, main
log4j.additivity.kafka.network.RequestChannel$=false

log4j.logger.kafka.request.logger=ERROR, main
log4j.additivity.kafka.request.logger=false

log4j.logger.kafka.controller=INFO, main
log4j.additivity.kafka.controller=false

log4j.logger.kafka.log.LogCleaner=INFO, main
log4j.additivity.kafka.log.LogCleaner=false

log4j.logger.state.change.logger=DEBUG, main
log4j.additivity.state.change.logger=false
