<configuration>
  <appender name="mainRaw" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>/log/main.log.%d{yyyy-MM-dd}</fileNamePattern>
      <maxHistory>5</maxHistory>
      <totalSizeCap>10GB</totalSizeCap>
    </rollingPolicy>
    <encoder>
      <pattern>[[[MSG]]] [%d{ISO8601}] [%p] [logger:%c] [thread:%t] [mdc:%X] %m %throwable%n</pattern>
    </encoder>
  </appender>

  <appender name="main" class="ch.qos.logback.classic.AsyncAppender">
    <queueSize>512</queueSize>
    <discardingThreshold>0</discardingThreshold>
    <includeCallerData>true</includeCallerData>
    <appender-ref ref="mainRaw" />
  </appender>

  <root level="info">
    <appender-ref ref="main" />
  </root>

  <logger name="com.epam.bdcc" level="info" additivity="false">
    <appender-ref ref="main" />
  </logger>
</configuration>
