---
- name: set facts for mesos-master
  set_fact: mesos_master_host_dir=/srv/services/mesos-master

- name: create directories for mesos-master
  file: path="{{ item }}" state=directory
  with_items:
    - "{{ mesos_master_host_dir }}"
    - "{{ mesos_master_work_dir }}"
    - "{{ mesos_master_log_dir }}"
    - "{{ mesos_master_tmp_dir }}"

- name: create a symbolic link for mesos_master work directory
  file: src="{{ mesos_master_work_dir }}" dest="{{ mesos_master_host_dir }}/work" state=link

- name: create a symbolic link for mesos_master log directory
  file: src="{{ mesos_master_log_dir }}" dest="{{ mesos_master_host_dir }}/log" state=link

- name: create a symbolic link for mesos_master tmp directory
  file: src="{{ mesos_master_tmp_dir }}" dest="{{ mesos_master_host_dir }}/tmp" state=link

- name: add container to whitelist
  set_fact: docker_containers_whitelist="{{ docker_containers_whitelist }} + [ 'master-mesos' ]"
  tags: always

- name: ensure mesos-master container is running
  docker_container:
    name: master-mesos
    image: mesosphere/mesos-master:1.1.0-2.0.107.ubuntu1404
    state: started
    restart_policy: unless-stopped
    network_mode: host
    log_driver: json-file
    volumes:
      - "{{ mesos_master_host_dir }}/work:/work"
      - "{{ mesos_master_host_dir }}/log:/log"
      - "{{ mesos_master_host_dir }}/tmp:/tmp"
    command: 'mesos-master --port={{ mesos_master_port }} --no-hostname_lookup --zk=zk://{{ zookeeper_hosts }}/mesos --work_dir=/work --quorum={{ mesos_quorum }} --log_dir=/log'
